@font-face {
  font-family: 'Berkshire';
  src: url('./fonts/BerkshireSwash-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Mali';
  src: url('./fonts/Mali-SemiBold.ttf');
}

* {
  font-family: 'Montserrat';
}

.App {
  text-align: center;
}

.App-header {
  padding: 20px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

nav {
  text-align: center;
  padding: 20px;
}

.nav-element {
  margin: 0px 50px;
}

.popup {
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}

.popup_inner {
  position: absolute;
  border-radius: 25px;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
  height: min-content;
}

.plant {
  background: rgb(239, 241, 240);
  border-radius: 20px;
  border: 2px solid rgb(222, 243, 234);
  box-shadow: 5px 5px 5px rgb(163, 180, 173);
  padding: 5px 0px;
  padding-bottom: 20px;
  margin: 15px;
}

.nametag {
  margin: 0 auto;
  margin-bottom: 10px;
  background: rgb(251, 253, 250);
  padding: 5px 15px;
  width: min-content;
  font-family: "Mali";
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  border: 6px groove rgb(148, 175, 162);
}

.tag {
  background: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: min-content;
  padding: 10px;
  border-left: 7px solid rgb(163, 180, 173);
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  outline: none;
  background: rgb(222, 243, 234);
  border: none;
  box-shadow: inset;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 20px;
  color: rgb(52, 73, 52);
}

button:hover {
  background: rgb(240, 247, 243);
  color: rgb(120, 168, 120);
  transition: all ease-in-out 250ms;
}

.search-bar {
  width: max-content;
  min-width: 245px;
  outline: none;
  border-radius: 20px;
  border: none;
  margin: 10px;
  padding: 10px 20px;
  background: rgb(222, 243, 234);
}

::placeholder {
  color: rgb(52, 73, 52);
}

.search-bar:hover {
  background: rgb(240, 247, 243);
}

label {
  align-content: center;
  text-align: left;
  margin: 0 auto;
  width: 80%;
  padding: 20px;
}

form {
  height: max-content;
  padding: 10px;
}

.nav {
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: 0;
}

.nav > div {
  display: inline-block;
  padding: 20px;
  margin: 0 20px;
}

.nav > .selected {
  border-top: 5px solid rgb(84, 107, 96);
}

.orange-btn {
  background: rgb(253, 244, 219);
  border-radius: 5px;
  color: rgb(129, 81, 42);
  padding: 10px;
  width: max-content;
}

.orange-btn:hover {
  background: rgb(241, 237, 232);
  color: rgb(129, 81, 42);
}

.disabled-btn {
  background: rgb(241, 237, 232);
  border-radius: 5px;
  color: rgb(129, 81, 42);
  padding: 10px;
  width: max-content;
}

.disabled-btn:hover {
  background: rgb(241, 237, 232);
  border-radius: 5px;
  color: rgb(129, 81, 42);
  padding: 10px;
  width: max-content;
}

.no-style-btn {
  background: none;
  padding: 0;
  margin: 0;
  color: black;
  border: none;
  outline: none;
}

.no-style-btn:hover {
  background: none;
  padding: 0;
  margin: 0;
  color: black;
  border: none;
  outline: none;
}

.hover-point:hover {
  cursor: pointer;
}


